/* .contact-design{
  color: crimson;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.column-123{
  margin-left: 300px !important;
}


.carding{
 box-shadow : 5px 5px 5px 5px grey
}
.image-1{
  filter:brightness(40%) !important;
}
.footer{
  background-color: blue;
  height: 300px;
}
.info{
  background-color: skyblue;
  height: 280px;
  padding: 50px;
}
.imge-1{
  height: 250px;
  width: 250px;
  border-radius: 150px;
  border-radius: 30px;
}
.wid-1,button{
  width: 100% !important;
} */

.btn{
  display: flex !important;
  
}

button{
  background-color: skyblue;
  height: 100px;
  width: 300px;
  border: 1px solid skyblue;
  font-size: 25px !important;
}
button:hover{
  background-color: grey !important;
}
.display-bg {
  background-color: #e1e7f0;
  height: 300px;
  width: 100%;
}

.ll{
  background-color: red !important;
  height: 1000px;
  width: 100%;
}
.gg{
  margin-left: 90%;
}